.Weather {
	background: #30cfd0;
	border: 1px solid white;
	border-radius: 15px;
	color: white;
	padding: 45px 20px;
}

.Weather img {
	display: inline;
}

.Weather h2,
h3,
span {
	font-family: "Quicksand", sans-serif;
}

.Weather h3 {
	display: inline;
	font-size: 25px;
	font-weight: 400;
	margin-left: 15px;
	text-transform: uppercase;
	vertical-align: middle;
}

.Weather .temperature {
	display: inline;
	font-size: 80px;
	font-weight: 300;
}

.Weather .unit {
	font-size: 15px;
	position: relative;
	top: -45px;
}

.Weather ul {
	padding: 0;
}

.Weather li {
	list-style: none;
}

.Weather strong {
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
